.custom-button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s ease;
}

.custom-button:hover {
  opacity: 0.85;
}